header {
    background: linear-gradient(.25turn, #2d5492, 10%, rgb(35, 42, 121), 90%, #2d5492);
    color: white;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
}
.left-aside{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 25rem;
    padding: 10px;
    margin: 10px;
}
.search_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputField {
    width: 90%;
}
#forecast_header{
    padding: 20px;
    background: linear-gradient(.25turn, #2d5492, 20%, rgb(35, 42, 121), 80%, #2d5492);
    color: white;
}

.right-content {
    width: 75%;
    margin: 10px;
}
.city_list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    height: 30rem;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.city_list li {
    color: black;
    text-align: center;
    background-color: rgb(152, 154, 180);
    margin: 5px -20px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}
.city_list li:hover {
    background-color: rgb(195, 198, 222);
}
.city_desc {
    color: white;
    padding: 10px;
    background-color: #23296b;
    border-radius: 20px;
    margin-top: 30px;
    height: 50vh;
}
.city_desc--header {
    color: rgba(255, 255, 255, 0.779);
    display: flex;
    font-size: 35px;
    background-color: #64aee66f;
    width: 70%;
    text-align: center;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
    padding: 10px;
    border-bottom: solid rgba(0, 0, 0, 0.201) 0.5px;
    border-radius: 20px;
}
.day_1--sub_header, .day_2--sub_header, .day_3--sub_header, .day_4--sub_header, .day_5--sub_header {
    color: lightblue;
    margin-top: -35px;
    margin-bottom: 40px;
}
#sub_header {
    color: lightblue;
    padding: 15px 5px;
    border-bottom: solid black 0.5px;
}

.forecast_container {
    display: flex;
    justify-content: space-between;
    
}
.forecast_items{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5px;
}
.forecast_items .card {
    border-radius: 12px;
    background: linear-gradient(rgb(61, 57, 101), #23296b);
    color: white;
    margin: 5px;
}
.forecast_container h1{
    font-size: 26px;
    padding: 10px;
    font-weight: bolder;
}
.card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#temp, #wind, #humidity {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 1050px) {
    .forecast_items {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .forecast_items .card {
        width: 98%;
        margin: 10px;
    }
    .city_desc--header{
        width: 96%;
        padding: 10px;
    }
    .city_desc{
        height: 20rem;
        margin: 0;
    }
    .left-aside {
        height: 20rem;
    }
    .right-content{
        height: 100%;
    }
    .card-title {
        background-color: #2d5492;
        height: 50px;
        align-items: center;
        border-radius: 20px;
    }
    .card-text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 700px) {
    .main{
        flex-direction: column;
        height:700px;
        overflow: hidden;
    }
    .left-aside {
        width: 100%;
    }
    .right-content{
        width: 95%;
        margin: 10px 10px;
        padding-left: 10px;
    }
    .city_desc--header{
        width: 96%;
        padding: 10px;
    }
    
}